<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Fish</title>
</head>
<body>
    <h1>Edit Fish</h1>
    <form action = "/fishs/<%= pass.id %>" method = 'post'>
        Fish Name: <input type = 'text' name = 'name' value ="<%= pass.name %>">
        <br>
        Color: <input type = 'text' name = 'color' value = "<%= pass.color %>">
        <br>
        Size: <select name="size">
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
            </select><br><br>
            <input type = 'submit' value = 'Update Fish'>
    </form>
    
</body>
</html>